/* Universal Styles  */
.btn-gradiant {
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI";
  font-weight: 700px;
  font-size: 12px;
  background: linear-gradient(to right, #aa076b 0%, #61045f 51%, #aa076b 100%);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 20px;
}
.btn-gradiant:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(222, 149, 149, 0.2);
}

/* Additional Styles */
.Navbar {
  width: 100%;
  height: 50px;
  padding: 30px;
  background: #111f35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 3px solid red; */
}

.Navbar .name h1 {
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-family: "Segoe UI";
  font-size: 1.9rem;
}

.wave {
  background: linear-gradient(135deg, #61045f 50%, #aa076b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe UI";
}

.links {
  display: flex;
  gap: 30px;
  text-decoration: none;
  font-family: "Segoe UI";
  font-weight: 400;
  color: white;
}
