/* Universal Styles  */
.btn-gradiant {
  width: auto;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI";
  font-weight: 700px;
  font-size: 12px;
  background: linear-gradient(to right, #aa076b 0%, #61045f 51%, #aa076b 100%);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 20px;
}
.btn-gradiant:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(222, 149, 149, 0.2);
}

/* Additional Styles */
.Navbar {
  width: 100%;
  height: 50px;
  padding: 30px;
  background: #20082b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 3px solid red; */
}

.Navbar .name h1 {
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-family: "Segoe UI";
  font-size: 1.9rem;
}

.wave {
  background: linear-gradient(135deg, #61045f 50%, #aa076b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe UI";
}

.links {
  display: flex;
  gap: 30px;
  text-decoration: none;
  font-family: "Segoe UI";
  font-weight: 400;
  color: white;
}
.banner {
  background-image: url(/assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  align-items: center;
  /* border: 0.1px solid red; */
}

.bannerbtn img {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}
.banner .imgWrap {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 0 auto;
  padding-top: 70px;
}
.banner .imgWrap .circle {
  width: 100%;
  height: auto;
}
.banner .imgWrap .mic {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60px;
  z-index: 2;
  top: 190px;
  left: 109px;
}
.bannercontent {
  text-align: center;
  margin-top: 99px;
  font-family: "Segoe UI";
  color: white;
}

.bannercontent h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.bannercontent p {
  font-size: 0.9rem;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}
.bannercontent .btn-gradiant {
  font-size: 0.9rem;
}

.bannerbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.normalbtn {
  width: auto;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI";
  font-weight: 700px;
  font-size: 12px;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 20px;
}
/* ............About............. */
.about {
  /* border: 2px solid red; */
  background: #20082b;
  width: 100%;
  padding: 3rem;
  height: auto;
  gap: 1.5rem;
}
.about h2 {
  font-family: "Segoe UI";
  color: white;
  font-size: 2rem;
  font-weight: 700;
  align-items: center;
  text-align: center;
}
.about p {
  font-family: "Segoe UI";
  color: rgb(216, 216, 216);
  font-size: 0.7rem;
  font-weight: 400;
  align-items: center;
  text-align: center;
  margin: 1.5rem;
}
.about .rating {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 75px);
  gap: 20px;
  margin: 20px 90px;
  /* border: 3px solid red; */
}
.about .rating .box {
  /* border: 2px solid red; */
  text-align: center;
}

.about .rating .box h4 {
  font-family: "Segoe UI";
  color: rgb(0, 255, 17);
  font-size: 1.5rem;
  font-weight: 700;
  /* border: 1px solid red; */
}
.about .rating .box p {
  font-family: "Segoe UI";
  color: rgb(216, 216, 216);
  font-size: 0.6rem;
  font-weight: 400;
  /* padding-bottom: */
  /* border: 1px solid red; */
  margin-top: -2px;
}
/* ...............why............... */
.why {
  /* border: 3px solid red; */
  width: 100%;
  height: auto;
  padding: 5rem 7rem;
  background: #25082b;
}
.why h4 {
  font-family: "Segoe UI";
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 2.3rem;
  /* margin-bottom: 2rem; */
}
.why .card {
  /* border: 3px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
  padding: 3rem;
}
.why .card .box1 {
  /* border: 2px solid red; */
  margin: 0 auto;
  background: #3e1551;
  align-items: center;
  text-align: left;
  padding: 1rem;
  grid-column: span 1;
  grid-row: span 2;
  border-radius: 25px;
}
.why .card .box2 {
  /* border: 2px solid red; */
  background: #3e1551;
  text-align: left;
  padding: 1rem;
  grid-column: span 2;
  grid-row: span 1;
  border-radius: 25px;
}
.why .card .box3 {
  /* border: 2px solid red; */
  background: #3e1551;
  text-align: left;
  padding: 1rem;
  grid-column: span 2;
  grid-row: span 1;
  border-radius: 25px;
}
.why .card .box4 {
  /* border: 2px solid red; */
  background: #3e1551;
  text-align: left;
  padding: 1rem;
  grid-column: span 2;
  grid-row: span 1;
  border-radius: 25px;
}
.why .card .box5 {
  /* border: 2px solid red; */
  background: #3e1551;
  text-align: left;
  padding: 1rem;
  grid-column: span 1;
  grid-row: span 1;
  border-radius: 25px;
}

.why .card h4 {
  color: white;
  text-align: left;
  font-size: 1.4rem;
  font-weight: bold;
}
.why .card p {
  text-align: left;
  color: rgb(214, 214, 214);
  font-size: 0.9rem;
}

/* ...................footer................... */
.foot {
  background-image: url(/assets/footer-bg.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 280px;
  align-items: center;
}

.foot h2 {
  font-family: "Segoe UI";
  color: white;
  font-size: 2rem;
  font-weight: 700;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
}

.foot h2 {
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-family: "Segoe UI";
  font-size: 3.2rem;
}

.foot .wave {
  background: linear-gradient(135deg, #61045f 50%, #aa076b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe UI";
}
.foot .lnk {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-decoration: none;
  font-family: "Segoe UI";
  font-weight: 400;
  color: white;
  padding-top: 1rem;
}
.ap {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
}
.spt {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
}
.yt {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
}
.tw {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
}

.foot p {
  font-family: "Segoe UI";
  color: rgb(216, 216, 216);
  font-size: 0.9rem;
  font-weight: 400;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
}

/* ............End............. */

.feature {
  /* border: 2px solid red; */
  background: #20082b;
  width: 100%;
}

.feature h2 {
  font-family: "Segoe UI";
  color: white;
  font-size: 2rem;
  font-weight: 700;
  align-items: center;
  text-align: center;
}

.feature .hostbox {
  background: #330d44;
  border-radius: 25px;
  width: 84%;
  margin: 0 auto;
  display: flex;
  gap: 2.2rem;
  padding: 2rem;
}
.feature .hostbox img {
  /* border: 2px solid green; */
  align-items: center;
  margin: 0 auto;
}
.hostbox h3 {
  font-family: "Segoe UI";
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  align-items: left;
  text-align: left;
  padding: auto;
  /* border: 2px solid red; */
}
.hostbox p {
  font-family: "Segoe UI";
  color: rgb(226, 213, 213);
  font-size: 1.1rem;
  font-weight: 400;
  align-items: left;
  text-align: left;
  grid-column: span 4;
  grid-row: span 2;
  padding: auto;
  margin-bottom: 1.5rem;
}

.hostbox .hostlink {
  display: flex;
  gap: 2.1rem;
}

.feature .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
.feature .box .cardd {
  border: 2px solid red;
  width: 250px;
  height: 150px;
}
.feature .box .crdimg {
  background-image: url(/assets/);
}
/* Responsive Styles */
@media screen and (max-width: 576px) {
  .about .rating {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 75px);
    align-items: center;
    margin: 0 auto;
    padding: 3rem;
  }
  .why {
    width: 100%;
    padding: 2rem;
    align-items: center;
  }
  .why .card {
    width: 100%;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
  }

  .feature .hostbox {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
