/* Universal Styles  */
.btn-gradiant {
  width: auto;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI";
  font-weight: 700px;
  font-size: 12px;
  background: linear-gradient(to right, #aa076b 0%, #61045f 51%, #aa076b 100%);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 20px;
}
.btn-gradiant:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(222, 149, 149, 0.2);
}

/* Additional Styles */
.Navbar {
  width: 100%;
  height: 50px;
  padding: 30px;
  background: #111f35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 3px solid red; */
}

.Navbar .name h1 {
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-family: "Segoe UI";
  font-size: 1.9rem;
}

.wave {
  background: linear-gradient(135deg, #61045f 50%, #aa076b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe UI";
}

.links {
  display: flex;
  gap: 30px;
  text-decoration: none;
  font-family: "Segoe UI";
  font-weight: 400;
  color: white;
}
.banner {
  background-image: url(/assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 550px;
  align-items: center;
  border: 0.1px solid red;
}
.banner .imgWrap {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  /* margin-left: 200px; */
  /* padding-left: 600px; */
  margin-top: 80px;
}
.banner .imgWrap .circle {
  width: 100%;
  height: auto;
}
.banner .imgWrap .mic {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 60px;
  z-index: 2;
  top: 130px;
  left: 126px;
}
.bannercontent {
  text-align: center;
  margin-top: 20px;
  font-family: "Segoe UI";
  color: white;
}

.bannercontent h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.bannercontent p {
  font-size: 0.9rem;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}
.bannercontent .btn-gradiant {
  font-size: 0.9rem;
}

.bannerbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.normalbtn {
  width: auto;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI";
  font-weight: 700px;
  font-size: 12px;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 20px;
}
